#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page-container {
  display: flex;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.main-header {
  background-color: cornflowerblue;
  border-radius: 10px;
  text-align: start;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

.skills-page-container {
  width: 450px;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  padding: 17px;
}

.name {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.header-desc {
  font-size: 15.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-page-container {
  width: 900px;
  margin-right: 15px;
  margin-left: 15px;
}

.eros-name {
  font-weight: normal;
}

/* ============= Contact list styling =============== */

.info-list {
  list-style-type: none;
  padding-top: 7px;
  line-height: 25px;
}

.info-list,
li {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}

.info-list,
li,
a {
  font-size: 15px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

#email::before {
  content: "\f0e0";
  font-family: "FontAwesome";
  padding-right: 5px;
  font-size: 20px;
}

#phone::before {
  content: "\f3ce";
  font-family: "FontAwesome";
  padding-right: 9px;
  font-size: 20px;
  margin-left: 2px;
}

#linkedin::before {
  content: "\f08c";
  font-family: "FontAwesome";
  padding-right: 8px;
  font-size: 20px;
  margin-left: 1px;
}

#website::before {
  content: "\f0c1";
  font-family: "FontAwesome";
  padding-right: 8px;
  font-size: 15px;
}

#github::before {
  content: "\f09b";
  font-family: "FontAwesome";
  padding-right: 8px;
  font-size: 20px;
}

/* ================ Modules list ================== */

section,
h1 {
  font-size: 20px;
}

hr {
  border: none;
  height: 1px;
  background: rgb(128, 128, 128);
}

.modules-list {
  list-style-type: none;
}

.modules-list,
li {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.section-heading {
  font-weight: bold;
}

.skills-bullet {
  padding-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: column;
}

.row,
p {
  font-size: 15px;
  margin-top: 0px;
  line-height: 10px;
}

.education-title {
  padding-top: 10px;
}

.relevant-modules {
  padding-top: 7px;
}

.experience_bullets {
  font-size: 13px;
  padding-right: 7%;
  margin-left: -14px;
  line-height: 20px;
}

.experience_bullets > li {
  font-size: 13px;
}

.modules-list > li {
  font-size: 13px;
  line-height: 20px;
}

.experience-title {
  margin-left: auto;
  margin-bottom: -30px;
}

.p-row {
  display: flex;
  flex-direction: row;
  line-height: 18px;
  text-align: right;
}
